.chroma {
    background-color: unset;
  }

.post-content pre code , 
.post-content .highlight:not(table) ,
.post-content .highlight table
{
    background: unset !important;
    background-color: var(--code-bg) !important; /* support light/dark */
    color: var(--secondary) !important; /* support light/dark */
}

.post-content code {
  color: tomato;
  margin: 0;
  padding: 4px 4px;
  border-radius: 4px;
}
.post-content blockquote{
  color: #6a6a6a;
  border-inline-start: 3px solid #16A951;
  font-style: italic;
}