<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?9c5df390ac458ac8c5717e606e980044";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    
<link rel="stylesheet" href="https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.7.0/style.css">
    <script>
        window.localStorage.setItem('qiushaocloud_sitecounter_api_host', 'https://www.zhouxin.space:443');
    </script>
    <script>
        window.QIUSHAOCLOUD_SITE_COUNTER_API_SIGN_SECRET_KEY = 'site_count';
    </script>
<script src="https://pics.zhouxin.space/js/qiushaocloud_site_counter.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var header = document.querySelector('.profile_inner h1');
        header.addEventListener('animationend', function(event) {
          if (event.animationName === 'typing') {
            // 停止光标闪烁
            header.style.animation = 'none';
          }
        });
      });
      
</script>



{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}




